*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

body{
    background-color: #212121;
    font-family: 'Prompt', sans-serif;
    font-size: 1.2em;
}

#app .list-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    max-width: 500px;
    margin: 5em auto;

}

#app .list-container .card{
    background-color: #fff;
    border-radius: 10px;

    padding: 1em 2em;
}

#app .list-container h1{
    margin-bottom: 1em;
}

#app .list-container ul li {
    padding: .3em 0;
    cursor: pointer;
}

#app .list-container ul li span.delete {
    padding-left: .5em;
    cursor: pointer;
}

#app .list-container #add-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    margin-top: 2em;
    width: 100%;
}

#app .list-container #add-todo input{
    width: 160px;
    border-radius: 5px;
    border: none;
    padding: .3em .8em;
    font-size: 1em;
}

.btn{
    padding: .3em .8em;
    border: none;
    border-radius: .3em;
    background-color: #2DC9F8;
    font-size: 1em;
}