<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - To do </title>
</head>
<body>

    <div id="app">
        <ul>
            <li v-for="(todo, index) in todos">
                <span @click="isDone(index)" :style="todos[index].done ? styleToDo : {}">{{todo.text}}</span>
                 - 
                <span @click="removeToDo(index)">X</span>
            </li>
        </ul>
        <div id="add-todo">
            <input type="text" v-model="newToDo.text" @keyup.enter="addToDo()">
            <button @click="addToDo()">Add</button>
        </div>
    </div>

    <!-- script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>